# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env/
.venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/
*.egg-info/

# SQLite
*.sqlite3

# Pytest
.pytest_cache/

# Migrations (nếu sau này dùng Alembic)
alembic/versions/*.pyc
