<!DOCTYPE html>
<html>
<head>
    <title>LexiLearn</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<nav class="navbar">
    <div class="logo">LexiLearn</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="#">Platform</a>
        <a href="#">Arch</a>
        <a href="#">About</a>
        <a href="#">Sign</a>
    </div>
</nav>

<main>
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    Privacy | Terms | API Docs | GitHub | © 2026 LexiLearn
</footer>

</body>
</html>
